

/**/
/*---------------------------GLOBAL---------------------------*/
* {
    box-sizing: border-box;
}
html {
    background-color: #fff;
}

h1, h2, h3, h4 {
    font-family: 'Big Shoulders Stencil Display', cursive;
}
h2 {
    font-size: 30px;
}
h3 {
    font-style: italic;
    color: rgb(167, 167, 167);
}
p, th, td, tr, label {
    font-family: 'Raleway', sans-serif;
}
/*---------------------------BARRE NAVIGATION---------------------------*/

header {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.774), rgba(255, 255, 255, 0.329)),url(../images/header.jpg);
    background-position: center;
    background-size: cover;
    height: 40vh;
    }

.nav-bar {
    font-size: 40px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    text-align: center;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }
    
.nav-bar div{
    
    width:150px;
    }

.nav-bar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    background-color: #fbfbfb7e;
    }
/*---------------------------TITRE HEADER---------------------------*/

.main-title {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.main-title div:nth-child(1){
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 60px;
    color: #fff;
    display: flex;
    justify-content: center;

}

.main-title div:nth-child(2){
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: rgb(100,220,220);
    letter-spacing: 20px;
    display: flex;
    justify-content: center;
}


    
/*---------------------------IMAGES ARTICLES---------------------------*/


.img-articles img {
    
    width: 100%;
    border-radius: 10px;
    height: 350px;
}

/*---------------------------ARTICLES---------------------------*/
.container {
    
    margin-top: 10px;
    margin-bottom: 40px;
}
.articles {

    padding: 20px;
}

.site-article {

    font-weight: bold;
}
.articles2 {
    padding: 20px;
    background-color: rgba(223, 223, 223, 0.253);
}

.articles3 {
    padding: 20px;
}

/*---------------------------SIDEBAR---------------------------*/
.sidebar {
    background-color:lightgrey;
    text-align: center;
    
}

li {
    padding-right: 50px;
    list-style-type: none;
    
}

/*---------------------------FOOTER---------------------------*/
footer {

    display: flex;
    justify-content: center;
    height: 20vh;
    color: rgb(223, 223, 197);
    background-color: rgba(27, 25, 25, 0.90);
    
    
}

/*---------------------------MEDIA QUERY P1---------------------------*/




@media (min-width:750px) {
/*---------------------------TITRE HEADER---------------------------*/
.main-title {
        height: 20vh;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    .main-title div:nth-child(1){
        
        font-size: 100px;
        color: #fff;
        
    }
    
    .main-title div:nth-child(2){
        font-family: 'Raleway', sans-serif;
        font-size: 40px;
        color: rgb(100,220,220);
        letter-spacing: 20px;
        display: flex;
        align-items: center;
        margin-top: 80px;
    }

    .dashboard {
    text-align: center;
    width: 100%;
}
/*---------------------------ARTICLES---------------------------*/
    .container {
        display:flex;
        
    }
    .container2 {
        display: flex;
    }
    .container3 {
        display: flex;
    }
    .img-articles img{
        
        display: flex;
        justify-content: left;
        width: 370px;
        margin-right: 10px;
    }
}

@media (min-width:1250px) {

    .nav-bar {
        z-index: 3;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    }

    .dashboard {
        text-align: center;
        width: 100%;
    }
    
    .main {
        float: left;
        width: calc(100% - 347px);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        z-index: 2;
        position: relative;
    }

    .sidebar {

        float: right;
        width:347px;
        padding: 40px;
        height: 880px;
        z-index: 1;
        position: relative;
        background: #FBFBFB;
        
    }


    .sidebar li {
    padding-bottom: 10px;
}
    .sidebar hr {
        border-color: #c4c4c4;
        margin: 40px 0;
    }
    

    .footer {
        clear: both;
    }

}
/* *************************** PAGE ADMIN EN HTML CSS PURE ********************** */

/*---------------------------PAGE ADMIN---------------------------*/

h2 {
    
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}


/*---------------------------BOARD---------------------------*/
.dashboard {
    text-align: center;

}

.iconv {
    color: green;
}
.iconnv {

    color: red;
}

.icon:hover {
    position: relative;
    bottom: 5px;
    
}

/*---------------------------FORMULAIRE CREATION   D'ARTICLE---------------------------*/

.nvl-article {
    margin-top: 50px;
}
.title-article {
    margin-left: 20px;
}
.corps-article {
    margin: 10px 20px;

    }

#title {
    width: 25%;
}
#text-form {
    width: 100%;
}

.insert-img {
    margin-left: 20px;
}

/*---------------------------BOUTTONS---------------------------*/

.btn {
    
    padding: 10px 40px;
    margin: 20px 20px;
    background-color: rgba(47, 61, 46, 0.589);
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    border: none;
}

.btn:hover {
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.76);
}